{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content%}
{% if messages %}
{% for m in messages %}
<p class='text-info p-4'>{{m}}</p>
<br>
{% endfor %}
{% endif %}
    
     <form class='text-dark' action="" method='post' style='width:50%; margin:auto;'>
        {% if form.non_field_errors %}
 {% for er in form.non_field_errors  %}
 <p class="text-white bg-danger mb-2 p-2">{{er}}</p>
 {% endfor %}
{% endif %} 
        <h1>{{type}}</h1>
        {% csrf_token%}
        <!--{{form | crispy}} -->
        {% for fm in form%}
        {{fm.label_tag}}
        {{fm}}
        <p class='text-danger'>{{fm.errors | striptags}}</p>
        {% endfor%}
        <br>
        <button class='btn-warning   px-4 py-2'>Submit</button>
     </form>
{% endblock content%}