{% load static %}
<div class='row d-flex  justify-content-between flex-wrap align-items-center ms-2 p-5 gap-2'>

 <div class='col-lg-5'>
  <h1>Welcome To  Harmony Heights Library</h1>
  <p>
    Welcome to Harmony Heights Library, where knowledge meets community. Discover our diverse collection of books, resources, and engaging programs designed to inspire learning and exploration. Whether you're a reader, researcher, or simply curious, we invite you to delve into a world of stories and information right here at Harmony Heights Library.
  </p>
 </div>
 <div class='col-lg-6 align-items-center' >
    <img  src="{% static 'book2.jpeg'%}" style='width:100%;' alt="This is a Library">
 </div>
</div>
